#mainContainer {
  display: grid;
  grid-template-areas:
    "search title"
    "divider divider"
    "weather weather"
    "noSearch noSearch";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  margin: 0 auto;
  /* background-color: rgb(241, 241, 241);
  box-shadow: rgba(0, 0, 0, 0.15) 0px .9375rem 1.5625rem, rgba(0, 0, 0, 0.05) 0px .3125rem 10px; */
}

search-weather {
  grid-area: search;
}

#title {
  grid-area: title;
  display: flex;
  align-items: center;
  gap: .75rem;
}

#title h1 {
  font-size: 2.0em;
}

#title img {
  max-width: 6.25rem;
}

mat-divider {
  grid-area: divider;
}

display-weather {
  grid-area: weather;
}


@media (max-width: 600px) {
  #mainContainer {
    grid-template-areas:
      "search search"
      "title title"
      "divider divider"
      "weather weather";
      grid-template-rows: auto auto auto 1fr auto;
  }

}
@media (max-width: 312px) {
  #title img {
    max-width: 3.25rem;
  }
  #title h1 {
    font-size: 1.3em;
  }
  #mainContainer {
    padding: 1.5rem .3rem;
  }

}
